@using BExIS.Modules.Rdb.UI.Models


@model List<MySamplesModel>

@section Information
{
    <p>This table contains all datasets, created by you as a current logged on user. </p>
    <p>By right clicking on the header, you can manage the visibility of columns. You can also use filtering or grouping to see the more operative informations.</p>
    <p>To view more details of a dataset, click the <strong>View details</strong> button available in each row.</p>
}

@if (ViewBag.userLoggedIn == true)
{

    <ul class="nav nav-tabs">
        <li class="active"><a href="#" id="own">Own</a></li>
        <li><a href="#" id="edit">Edit</a></li>
        <li><a href="#" id="download">Download</a></li>
    </ul>
}
else
{
    <ul class="nav nav-tabs">
        <li  class="active"><a href="#">Download</a></li>
    </ul>
}


<script type="text/javascript">




        var cache = [];
     $('document').ready(function () {


        $('#own').click(function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).parent().addClass('active');

            if (cache["Samplegrant"] != null){
                $("#table_content").html(cache["Samplegrant"]);
            }
            else
            {
                loadContent("Sample", "grant");
            }
        });

        $('#edit').click(function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).parent().addClass('active');

            if (cache["Samplewrite"] != null){
                $("#table_content").html(cache["Samplewrite"]);
            }
            else
            {
                loadContent("Sample", "write");
            }
        });

        $('#download').click(function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).parent().addClass('active');

            if (cache["Sampleread"] != null){
                $("#table_content").html(cache["Sampleread"]);
            }
            else
            {
                loadContent("Sample", "read");
            }
        });


        function loadContent(entityname, rightType){

            $("#table_content").preloader("..loading samples");

            var onlyTable = true;

            $.get("/rdb/dashboard/ShowMySamples",
                {entityname, rightType, onlyTable },
                function (data, textStatus, jqXHR) {
                    $("#table_content").html(data);
                    var id = entityname+rightType;
                    cache[id] = data;
                }
            );
         }




        function onclickDataset(e) {

            // checked
            var id = e.getAttribute("id");


            var data = {
                id: id
            }

            $.ajax({
                url: '/rdb/Sample/IsDatasetCheckedIn',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);

                },
                success: function (result) {
                    if (result) {
                        window.open("/rdb/Sample/Show/" + id, "_blank");
                    } else {

                        alert("Sample is locked. Please try again later.");
                    }
                }
            });
        }
    });

</script>

<style type="text/css">

    #resultGrid .t-grid-content {
        position: relative;
        height: auto !important;
        max-height: 450px;
        /*overflow:auto;*/
    }

    #resultGrid .t-status {
        display: none;
    }
</style>


<div id="table_content">
    @Html.Partial("_mySamplesView", Model)
</div>